
*.d


*.slo
*.lo
*.o
*.obj


*.gch
*.pch


*.so
*.dylib
*.dll


*.mod
*.smod


*.lai
*.la
*.a
*.lib


*.exe
*.out
*.app


Makefile
*.mk


build/


*.ui


.vscode/


*.txt.user
*.txt.user.*

*.log


.DS_Store


.idea/


*.tmp
*.swp
*.bak
